<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<div class="container m-auto flex flex-col justify-center items-center sm:flex-row sm:justify-start">
  <% @listings.each do |listing| %>
    <%= render "listing", listing: listing %>
  <% end %>
</div>

<br>
<%= link_to 'New Listing', new_listing_path %>
