<p id="notice"><%= notice %></p>

<div class="container m-auto flex flex-col justify-center items-center sm:flex-row sm:flex-wrap">
  <% @listings.each do |listing| %>
    <%= render "listing", listing: listing %>
  <% end %>
</div>

<br>

