<div class="container m-auto flex flex-col justify-center items-center sm:flex-row sm:flex-wrap lg:mt-10">
  <% @search_results.map do |listing| %>
    <%= render 'listing', listing: listing %>
  <%end%>
</div>