@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components{
  .label{
    @apply text-lg 
  }
  .field {
    @apply border border-solid border-gray-300 text-base w-full
  }
  .link {
    @apply hover:bg-white hover:underline hover:text-black
  }
}

@variants {
  .blur {
    filter: blur(0.2rem);
  }
  .login-position{
    margin-top: -219px;
    margin-left: -144px;
  }
}